<html>
    <head>
        <title>
            Products
        </title>
        
    </head>
    
    <body>
        <h1>Products</h1>
        <% console.log(request) %>
        <h2> Product Name: <%= request.product.Name %>  </h2> 
    
        <p>  <%= request.product.Description %> </p>
        
        
        
        
    </body>
    
</html>